@import '../../shared//styles//mixins.scss';

.health-check {
    &__wrapper {
        padding-top: 150px;
        display: grid;
        grid-template-columns: 1fr;

        // @media (max-width: 1400px) {
        //     grid-template-columns: 1fr 2.5fr;
        // }

        // @include tablet {
        //     grid-template-columns: 1fr 1.5fr;
        // }

        // @include mobile {
        //     grid-template-columns: 1fr;
        // }



    }
}